.hero-section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 2.5rem;
}

.hero-section .name {
	font-size: 7rem;
	color: rgb(31, 195, 255);
}

.blur {
	height: 12rem;
	width: 12rem;
	background-color: hsl(196, 100%, 56%, 0.7);
	filter: blur(100px);
	border-radius: 100px;
	z-index: -1;
	position: absolute;
}

.bottom-bar {
	border-radius: 13px;
	color: var(--primaryFg);
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 20px;
	gap: 10px;
}

@media screen and (max-width: 700px) {
	.hero-section {
		font-size: 2rem;
	}
	.hero-section .name {
		font-size: 4rem;
	}

	.bottom-bar {
		gap: 5px;
	}
}

@media screen and (max-width: 300px) {
	.hero-section .name {
		font-size: 3rem;
	}

	.bottom-bar {
		gap: 2px;
	}
}
